block content 
    .container-fluid.shadow.rounded.border.container-fluid.shadow.rounded.border(style="height: max-content").text-center
        .container-fluid.rounded.d-flex.justify-content-around.mb-3.mt-3(style="height: 10rem")
                button.btn.btn-info(type='button' href = "#" style="width:12rem") Book Packages                 
                button.btn.btn-info(type='button' style="width:12rem")
                    a(href ="/users/userProfile/"+"Agency" style="text-decoration: none; color: #000; width:12rem ") Update Contact information
                button.btn.btn-info(type='button'  style="width:12rem")
                    a(href ="/users/userProfile/"+"Agent" style="text-decoration: none; color: #000; width:12rem ") Update Personal information
                a.btn.btn-info(type='button' href = "/users/userProfile/" style="width:12rem") Browse Popular Packages

        .container-fluid.shadow.rounded.border(style="height: 40rem")
            h4 Data Analytics part goes here
        
            
