extends layout 

block content 
    .container-fluid.col-xl-8
        
       
            .px-4.py-2.my-4.text-center
                h3 John Doe
                h4 President/Diractor
                p john.doe@travelexpert.com
                br
                h3 John Smith 
                h4 General Manger
                p john.smith@travelexpert.com
                br 
                h3 Sara Smith
                h4 Travel Agent
                p sara.smith@travelexpert.com
                p Business/Corporate, Groups small & large
                h3 Mike Mike
                h4 Travel Agent
                p mike.mike@travelexpert.com
                p North America, Europe 
                br
                h3 Anna Four
                h4 Travel Agent
                p anna.four@travelexpert.com
                p Carbbean, historical Tours 

                